.message {
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    overflow: hidden;
    clear: both;
}

.message .avatar {
    float: left;
    margin-right: 10px;
}

.message .message-body .time {
    font-size: smaller;
    font-style: italic;
    color: gray;
    margin-top: 7px;
}

.message .avatar > img {
    height: 50px;
    width: 50px;
}


.message .message-body .tooltip {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    right: 50px;
}

.message .message-body:hover .tooltip {
    visibility: visible;
}
